<main>

        <div class="card border-light border-0">
            
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class=" card-header"> 
                
                    <h3 style="color:#8299AA">Sign Up</h3>
                </div>
                
                <div class="card-body p-4" >
                    <div class="row g-3">
                        <div class="col-md-6 ">
                            <label for="email">
                                Email
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="email" name="email" class="form-control" id="email" placeholder=""
                                    formControlName="email">
                            </div>
                        </div>
                        <div class="col-md-6 p-2">
                            <label for="password">Password
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="password" name="password" class="form-control" id="password" placeholder=""
                                    formControlName="password">
                            </div>
                        </div>
                      
                    </div>
                    <div class="row g-3 ">
                        <div class="col-md-6 p-2">
                            <label for="firstName">Fist Name
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="firstName" class="form-control" id="firstName" placeholder=""
                                    formControlName="firstName">
                            </div>
                        </div>
                        <div class="col-md-6 p-2">
                            <label for="firstName">Last Name
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="lastName" class="form-control" id="lastName" placeholder=""
                                    formControlName="lastName">
                            </div>
                        </div>
                    </div>
                    <div class="row g-3 ">
                        <div class="col-md-6 p-2">
                            <label for="name"> Name
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder=""
                                    formControlName="name">
                            </div>
                        </div>
                        <div class="col-md-6 p-2">
                            <label for="name"> UserName
                                <p>*</p>
                            </label>
                            <div class="input-group">
                                <input type="text" name="username" class="form-control" id="username" placeholder=""
                                    formControlName="username">
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card-footer p-3  ">
                    
            <!--      <a href="#" class="btn btn-secondary border-0 pb-2 float-end me-4 rounded-0">Annuler</a> --> 
            <button type="submit" class="btn btn-outline-secondary  create">Create Account</button>
 
                </div>
                <div class="clear"></div><br />
            </form>
        </div>
   
</main>